<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Blog</title>
  </head>
  <body>
    <h1>My Blog</h1>
    <main>
      <article>
        <h2>I used to have a blog.</h2>
        <p>
          I used to have a blog and I will have a blog again. It was on
          WordPress, when it was an open-source competitor to Typescript. Maybe
          you heard of it. I hosted it on Textdrive, which was eventually
          acquired by Joyent, which was an early cloud infrastructure company. I
          purchased lifetime hosting from Textdrive when it was using
          user-funding as its startup capital. After Joyent acquired Textdrive,
          things were fine for a while until they decided it was the end of life
          of the Textdrive product.
        </p>
        <p>Joyent. Ugh.</p>
        <p>
          Joyent also created Node. To my great not-surprise, Node has had some
          governance issues.
        </p>
      </article>
    </main>
  </body>
</html>
