<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>James Liu's homepage</title>
</head>
<body>
    <h1>My Home </h1>
    <ul>
        <li><a href="/about">About Me</a></li>
        <li><a href="Blog">Blog. Or bog.</a></li>
        <li><a href="#">Other useful things about me.</a></li>
    </ul>
</body>
<ul>
    <li</li>
    <li></li>
</ul>
</html>